<!DOCTYPE html>
<html>
<head>
  <title>Check upload</title>
</head>
<body>

    {% if success == false %}
        <p>There was an error uploading the files.</p>
        <pre>{{exception.__str__()}}</pre>
    {% elif success is none %}
        <p>The upload is still in progress. Reload this page after a little while.</p>
        <p>Completed uploads: ({{data.completed_uploads|length}} / {{data.local_files|length}})</p>
        <ul>
            {% for c in data.completed_uploads %}
                <li><i>{{c.from}}</i> ⟶ <i>{{c.to}}</i></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            The upload has succeeded. Enter release page content and index record body,
            and press <i>Submit</i> to create the database objects.
        </p>
        <p>
            <b>The release will be public after this step.</b>
        </p>
        <form method="POST" action="/commit_release/">
            <input type="hidden" name="file" value="{{data.file}}" />
            <label for="page_content">Release Page Content:</label><br/>
            <textarea name="page_content" rows="10" cols="100"></textarea><br/>
            <label for="index_record_body">Index Record Body:</label><br/>
            <textarea name="index_record_body" rows="10" cols="100">{{data.release_data.description}} (<a href="/Releases/{{data.release_dir}}/">release page</a>) (<a href="/Releases/{{data.file}}">zip</a>)</textarea>
            <br/><br/>
            <input type="submit" value="Submit">            
        </form>
    {% endif %}

</body>
</html>


