{% extends 'layout.jinja2' %}
{% block title %}Commit release{% endblock %}

{% block content %}
  {% with release_url = '/Releases/' + data.release_dir + '/' %}
    <p>The release has been committed and is now live.</p>
    <p>Go to <a href="{{release_url}}">{{release_url}}</a> to see it.</p>
    <p>Go to <a href="/index2.htm">/index2.htm</a> to see the index record that was added for it.</p>
    <p>Go to this release's <a href="/edit/{{data.release_id}}/">edit page</a> to edit it or issue uploading it to archive.org.</p>
    <p>Go to the <a href="/Releases/">release list</a> if you need to delete the release.</p>
  {% endwith %}
{% endblock %}