<!DOCTYPE html>
<html>
<head>
  <title>Create release</title>
</head>
<body>
  <h1>Create release</h1>
  <form action="/post_new_release_file/" method="post">
    <label for="name">File (I will look for this file in the <i>Releases</i> directory in static asset storage):</label><br>
    <input type="text" id="file" name="file"><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>
