<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>20kbps rec.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="author" href="humans.txt" />
    <link rel="shortcut icon" href="{{request.registry.settings['static_base']}}/favicon.ico" />    
    <style type="text/css">
      .logo {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-style: normal;
        line-height: normal;
        font-weight: normal;
        font-variant: normal;
        border: 1px solid #000000;
      }
      .news {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-style: normal;
        line-height: normal;
        font-weight: normal;
        font-variant: normal;
        border-top: 1px none #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
      }
      .text {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-style: normal;
        line-height: normal;
        font-weight: normal;
        font-variant: normal;
        border: 0px none;
      }
      table.text {
        table-layout: fixed;
      }
      table.text td:nth-child(odd) {
        width: 14%;
      }
      body {
        background-color: #ffffff;
      }
    </style>
  </head>

  <body
    text="#000000"
    link="#000000"
    vlink="#000000"
    alink="#000000"
    leftmargin="0"
    topmargin="0"
    marginwidth="0"
    marginheight="0"
  >
    <div style="height: 113px;">
      <p class="text">
        <a target="_blank" href="/humans.txt">
          <img src="{{request.static_url('pyramidprj:static/ico/humanstxt-isolated-blank.gif') }}" style="position:fixed;left:2px;top:2px" />
        </a>
      </p>
    </div>
    <div align="center">
      <table
        width="500"
        border="0"
        cellspacing="0"
        cellpadding="0"
        summary="A list of all 20kbps releases and news associated with our artists. Now following a short SEO-Test (whether table summary gets indexed by search engines): 20kbpswins"
      >
        <tr>
          <td style="text-align:right">
            <span id="contactemail" class="text">&nbsp;</span>
            <span class="text">mastodon:&nbsp;</span><a rel="me" href="https://mastodon.lol/@20kbps" class="text" target="_blank">@20kbps@mastodon.lol</a>
          </td>
        </tr>
        <tr>
          <td>
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="logo"
            >
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <div align="center">
                        <img
                          src="{{request.static_url('pyramidprj:static/Pics/20kbps_over_blue.jpg') }}"
                          alt="20kbps rec."
                          name="Image1"
                          width="500"
                          height="111"
                          id="logo"
                        />
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td height="19" align="right" valign="top" class="normtext">
                      <div align="right">
                        <img
                          src="{{request.static_url('pyramidprj:static/Pics/20kbps_balken.jpg') }}"
                          width="377"
                          height="15"
                        /><img src="{{request.static_url('pyramidprj:static/Pics/20kbps_over_root.jpg') }}" alt="root" /><img
                            src="{{request.static_url('pyramidprj:static/Pics/20kbps_over_releases.jpg') }}"
                            alt="releases"
                            width="77"
                            height="15"
                            border="0"
                        />
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </table>

            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="news"
            >
              <tr>
                <td nowrap>
                  <strong>NEWS:</strong>

                  <table
                    width="500"
                    border="0"
                    cellpadding="2"
                    cellspacing="0"
                    class="text"
                  >

                    {% for rec in records %}
                      <tr valign="top">
                        <td nowrap bordercolor="#003366" {% if rec.explicit_height %}height="{{rec.explicit_height}}"{% endif %}>
                          {% if rec.custom_date_section %}
                            {{rec.custom_date_section|safe}}
                          {% else %}
                            <strong>{{rec.date}}</strong>
                          {% endif %}
                        </td>
                        <td>
                          {{rec.body|safe}}
                        </td>
                      </tr>
                    {% endfor %}

                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <script>
      window.setTimeout(function(){
        var spanEmail = document.getElementById('contactemail');
        spanEmail.innerHTML = `email:&nbsp;${atob('Y29udGFjdEAyMGticHMubmV0')}&nbsp;|`;
      }, 1618);
    </script>
  </body>
</html>
