<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{request.static_url('pyramidprj:static/water.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
