<!DOCTYPE html>
<html>
<head>
	<title>Preview release</title>
</head>
<body>
    {% if success == False %}
        <p>There was an error creating the preview.</p>
        <pre>{{exception.__str__()}}</pre>
    {% elif success is none %}
        <p>The preview is still pending. Reload this page after a little while.</p>
    {% else %}
        <p>
            Check the release data below. When o.k., press <i>Submit</i>.
            This will
        </p>
        <ul>
            <li>create the release (pseudo-)directory in static asset storage (under <i>Releases</i>), if not already present.</li>
            <li>copy the audio files and <i>cover.jpg</i> to static asset storage (prefix: <i>Releases/{{data.release_dir}}/</i>).</li>
            <ul>
                <li>Existing files are overwritten.</li>
            </ul>
        </ul>

        <form method="POST" action="/request_upload/">
            <input type="hidden" name="file" value="{{data.file}}" />
            <input type="submit" value="Submit">
        </form> 

        <hr/>

        <h1>{{ data.release_data.relname }}</h1>
        <h2>by {{ data.release_data.artist }}</h2>
        <p>Catalog number: {{ data.release_data['cat-no'] }}</p>
        <p>File: {{ data.file }}</p>
        <p>Release directory: {{ data.release_dir }}</p>
        <p>Description: {{ data.release_data.description }}</p>
        <h3>Track List</h3>
        <ol>
            {% for track in data.player_files %}
            <li>{{ track.title }} ({{ track.duration_secs }} seconds)</li>
            {% endfor %}
        </ol>
        <p>Released on {{ data.release_data.date }}</p>
    {% endif %}
</body>
</html>
