<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
		<meta name="twitter:card" content="summary"></meta>
	<meta name="twitter:site" content="@20kbps"></meta>

  <title>20y20k by VA | 20k373 | </title>
<meta property="og:title" content="20y20k" />
	<meta property="og:image" content="https://20kbps.net/Releases/20y20k/cover.jpg" />
<meta property="og:url" content="https://20kbps.net/Releases/20y20k/" />

<meta property="og:description" content="VA - 20y20k (20k373)" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="VA - 20y20k (20k373)" >
<meta name="keywords" content="VA - 20y20k (20k373)" itemprop="genre" />
<link rel="stylesheet"  media="screen" type="text/css" href="../../../css/relpage.css">
</head>



<body lang="en">
<header role="banner" style="height:125px">
	<p>
		<a target="_blank" href="/humans.txt">
			<img src="/ico/humanstxt-isolated-blank.gif" style="position:fixed;left:2px;top:2px" />
		</a>
	</p>
</header>
<div align="center" itemscope itemtype="http://www.schema.org/MusicAlbum">

<h1 itemprop="headline"><span itemprop="name">20y20k</span> <span class="seperator">by</span><span itemprop="byArtist" itemscope itemtype="http://www.schema.org/MusicGroup"><span itemprop="name"> VA</span></span> </h1>
   <div>

	   <img src="cover.jpg" alt="cover image" itemprop="image" class="cover-img"></div>
	<div>
		<div class="infotext">
	<div ><a title="direct download" href="../va_-_20y20k_(20k373)-2022.zip"><img class="icon" src="../../../ico/download.png" alt="download"/></a>

		
		
		<a href="https://archive.org/details/20k373" title="archive.org page"  target="_blank"><img class="icon" src="../../../ico/glogo.jpg" alt="archive.org"/></a>
		
		<a href="https://www.discogs.com/release/25577509-Various-Artists-20y20k" title="discogs page" target="_blank"><img class="icon" src="../../../ico/discogs-icon.jpeg" alt="discogs"/></a>
		
	
		<div style="display: none">
		array(18) {
  ["cat-no"]=>
  string(6) "20k373"
  ["artist"]=>
  string(2) "VA"
  ["relname"]=>
  string(6) "20y20k"
  ["download"]=>
  string(32) "../va_-_20y20k_(20k373)-2022.zip"
  ["discogs"]=>
  string(63) "https://www.discogs.com/release/25577509-Various-Artists-20y20k"
  ["last"]=>
  string(0) ""
  ["archive"]=>
  string(34) "https://archive.org/details/20k373"
  ["rateyourmusic"]=>
  string(0) ""
  ["audioorgasm"]=>
  string(0) ""
  ["cover-file-type"]=>
  string(3) "jpg"
  ["dir"]=>
  string(6) "20y20k"
  ["description"]=>
  string(20) "VA - 20y20k (20k373)"
  ["keywords"]=>
  string(20) "VA - 20y20k (20k373)"
  ["style"]=>
  string(0) ""
  ["date"]=>
  string(10) "2022-12-27"
  ["list"]=>
  string(2) "ol"
  ["player"]=>
  string(0) ""
  ["tracks"]=>
  array(23) {
    [0]=>
    object(track)#1 (6) {
      ["name":"track":private]=>
      string(51) "Jimmy Slaughter - 20 Years Later Still Number One!!"
      ["filename":"track":private]=>
      string(59) "pre01-jimmy_slaughter_-_20_years_later_still_number_one.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "130"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [1]=>
    object(track)#2 (6) {
      ["name":"track":private]=>
      string(15) "Denner - Rausch"
      ["filename":"track":private]=>
      string(25) "pre02-denner_-_rausch.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "493"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [2]=>
    object(track)#3 (6) {
      ["name":"track":private]=>
      string(35) "starpause th3 k3h3h3d - Modern Hook"
      ["filename":"track":private]=>
      string(45) "pre03-starpause_th3_k3h3h3d_-_modern_hook.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(2) "72"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [3]=>
    object(track)#4 (6) {
      ["name":"track":private]=>
      string(41) "The Hardliner - Last Phase Of US Hegemony"
      ["filename":"track":private]=>
      string(52) "pre04-the_hardliner_-_last_phase_of_u_s_hegemony.ogg"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "459"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [4]=>
    object(track)#5 (6) {
      ["name":"track":private]=>
      string(28) "overthruster - Rotted Shrine"
      ["filename":"track":private]=>
      string(38) "pre05-overthruster_-_rotted_shrine.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "410"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [5]=>
    object(track)#6 (6) {
      ["name":"track":private]=>
      string(26) "Atarix - Unfinished Cycles"
      ["filename":"track":private]=>
      string(37) "pre06-atarix_-_unfinished_cycles.opus"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "379"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [6]=>
    object(track)#7 (6) {
      ["name":"track":private]=>
      string(62) "Origami Repetika - A Growing Collection (Aging Like Fine Wine)"
      ["filename":"track":private]=>
      string(70) "pre07-origami_repetika_-_a_growing_collection_aging_like_fine_wine.ogg"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "253"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [7]=>
    object(track)#8 (6) {
      ["name":"track":private]=>
      string(35) "Indu Mezu - Unknobbling Mi Tormenta"
      ["filename":"track":private]=>
      string(45) "pre08-indu_mezu_-_unknobbling_mi_tormenta.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "294"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [8]=>
    object(track)#9 (6) {
      ["name":"track":private]=>
      string(25) "Sascha Müller - The Moon"
      ["filename":"track":private]=>
      string(35) "pre09-sascha_müller_-_the_moon.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "408"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [9]=>
    object(track)#10 (6) {
      ["name":"track":private]=>
      string(17) "GOTO80 - Minimuck"
      ["filename":"track":private]=>
      string(27) "pre10-goto80_-_minimuck.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "199"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [10]=>
    object(track)#11 (6) {
      ["name":"track":private]=>
      string(21) "razxca - Recorder 002"
      ["filename":"track":private]=>
      string(31) "pre11-razxca_-_recorder_002.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "886"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [11]=>
    object(track)#12 (6) {
      ["name":"track":private]=>
      string(32) "microbit project - Tribalirium-4"
      ["filename":"track":private]=>
      string(42) "pre12-microbit_project_-_tribalirium-4.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "553"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [12]=>
    object(track)#13 (6) {
      ["name":"track":private]=>
      string(37) "Toxic Chicken - Remember Lobit Smiles"
      ["filename":"track":private]=>
      string(47) "pre13-toxic_chicken_-_remember_lobit_smiles.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "126"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [13]=>
    object(track)#14 (6) {
      ["name":"track":private]=>
      string(40) "Slow Wave Sleep - Storia Di Una Capinera"
      ["filename":"track":private]=>
      string(50) "pre14-slow_wave_sleep_-_storia_di_una_capinera.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "281"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [14]=>
    object(track)#15 (6) {
      ["name":"track":private]=>
      string(33) "Thrust Pomp - 20 Years Per Second"
      ["filename":"track":private]=>
      string(43) "pre15-thrust_pomp_-_20_years_per_second.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "198"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [15]=>
    object(track)#16 (6) {
      ["name":"track":private]=>
      string(40) "Mauk Tenieb - Live Mix 47 [Clark Nova 2]"
      ["filename":"track":private]=>
      string(48) "pre16-mauk_tenieb_-_live_mix_47_clark_nova_2.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "228"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [16]=>
    object(track)#17 (6) {
      ["name":"track":private]=>
      string(18) "Noxw - sf2 / nnnnn"
      ["filename":"track":private]=>
      string(28) "pre17-noxw_-_sf2_-_nnnnn.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "420"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [17]=>
    object(track)#18 (6) {
      ["name":"track":private]=>
      string(30) "Anthony1 - 436 Pieces To Spare"
      ["filename":"track":private]=>
      string(40) "pre18-anthony1_-_436_pieces_to_spare.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "149"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [18]=>
    object(track)#19 (6) {
      ["name":"track":private]=>
      string(25) "Hectic Head - Lobit Jesus"
      ["filename":"track":private]=>
      string(35) "pre19-hectic_head_-_lobit_jesus.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "180"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [19]=>
    object(track)#20 (6) {
      ["name":"track":private]=>
      string(19) "The Bishop - Pieces"
      ["filename":"track":private]=>
      string(29) "pre20-the_bishop_-_pieces.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "151"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [20]=>
    object(track)#21 (6) {
      ["name":"track":private]=>
      string(41) "larsht_ - Let's Chop The Amen Break Again"
      ["filename":"track":private]=>
      string(50) "pre21-larsht__-_lets_chop_the_amen_break_again.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(2) "76"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [21]=>
    object(track)#22 (6) {
      ["name":"track":private]=>
      string(28) "stereo realist - get up 2022"
      ["filename":"track":private]=>
      string(38) "pre22-stereo_realist_-_get_up_2022.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "384"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
    [22]=>
    object(track)#23 (6) {
      ["name":"track":private]=>
      string(35) "Humanfobia - Decadencia Apocalipsis"
      ["filename":"track":private]=>
      string(45) "pre23-humanfobia_-_decadencia_apocalipsis.mp3"
      ["altFile":"track":private]=>
      string(0) ""
      ["duration":"track":private]=>
      string(3) "194"
      ["videoUrl":"track":private]=>
      string(0) ""
      ["lang":"track":private]=>
      string(0) ""
    }
  }
}



		</div>
			
		
		
	</div>
	<article itemprop="description" role="main">
<p>December 2002. Lawsuits had just brought down once-popular Napster. Consumer hard drives were around 20GB, and many people still had less. It was sheer scarcity of storage space which eventually led to the emergence of <em>lo&#8209;bit</em>, a small but lively niche within the universe of music published online. Its defining characteristics, a propensity towards DIY aesthetics, and disdain for polished production, live on to this day. So does the place where lo-bit started. 20kbps is 20 years old today.</p>

<p>Whilst in the beginning, it was a group of friends that published their music on the newly founded netlabel, artists from around the world soon responded to the open call, and over the years, 20kbps grew into a microcosm as diverse as the people who publish their music online are. There was never adhesion to a genre, no branding itself a certain way, and yet, or perhaps just because there never was much direction, 20kbps was able to maintain a distinct identity.</p>

<p>Today, 20kbps is proud to present a compilation for the netlabel's 20th anniversary. Artists who were with us many years ago, as well as some who more recently came to contribute to the ever growing catalogue, have sent their tracks, and their works combined shape a beautiful piece of netlabel history.</p>

<p>I (Jonas / The Hardliner) would like to thank again all the artists, and commemorate the founder of this netlabel. I wish Mathias would have lived to write these liner notes himself. In 20kbps, a part of him lives on.</p>

<p>On to the 25th!</p>

<pre style="color:#666;font-family:monospace;font-size:9px">
Original file SHA1 checksums (i.e. for the files inside the zip archive downloadable from this site):

005c7193b1e411002a99c5ce79ac8c292b9b7f0b  01-jimmy_slaughter_-_20_years_later_still_number_one.mp3
ccf96ea592176961edec29892772a0ba1c185dc2  02-denner_-_rausch.mp3
569689ab6590708ffa52241fa154e7ca4452ec2e  03-starpause_th3_k3h3h3d_-_modern_hook.mp3
86afc1964ddaa598c48e13e8168f052e7509bb79  04-the_hardliner_-_last_phase_of_u_s_hegemony.ogg
0ac3ea21dc482bb3ec15c01d7d8d29e505d87a97  05-overthruster_-_rotted_shrine.ogg
71a05e89b1034b02f6b7cd6ff9d0f46e7f249f18  06-atarix_-_unfinished_cycles.opus
017fc54f9b181ea740c4266e158fc6da7c5287ef  07-origami_repetika_-_a_growing_collection_aging_like_fine_wine.ogg
09372065d453a84d248bf9f6bc5efd793ae07d44  08-indu_mezu_-_unknobbling_mi_tormenta.mp3
97059f994289c5b7cc0c998214e20c02c9986f53  09-sascha_müller_-_the_moon.mp3
725b23370b2eba86ffc39699aea88716a2b322dc  10-goto80_-_minimuck.mp3
d316fcdecbdd7610f1471911d14a10d25193947d  11-razxca_-_recorder_002.mp3
f03abf8d7a19217a9994927f8b2c08fe6a419499  12-microbit_project_-_tribalirium-4.mp3
8bc4ea0df0af072f32a8257f0decd7b893c3f0f2  13-toxic_chicken_-_remember_lobit_smiles.mp3
a60507ff0d24eecdfd23e0ab9073ccbe063c9d90  14-slow_wave_sleep_-_storia_di_una_capinera.mp3
56f3707451418b76e7a48b4b5db87c5840ad9a57  15-thrust_pomp_-_20_years_per_second.mp3
e3e373cf27d971a9f680e9e5dbfe346fa1ea4b7f  16-mauk_tenieb_-_live_mix_47_clark_nova_2.mp3
ec013a2d94f24cf40705d0434de20b4f274ac9c6  17-noxw_-_sf2_-_nnnnn.mp3
2f737b6e75fef33658a4fc7c778d4400ec3a7553  18-anthony1_-_436_pieces_to_spare.mp3
75dfecc193ca8ed4b532ddeaf21795a645d46cac  19-hectic_head_-_lobit_jesus.mp3
da08a804709c34e696b776f178a6853b9abb4af1  20-the_bishop_-_pieces.mp3
d757b44ea091d30ed080472f30f191a683fcb72e  21-larsht__-_lets_chop_the_amen_break_again.mp3
360f91ac232855f7ed56557dad04f14c60f72a94  22-stereo_realist_-_get_up_2022.mp3
7ed0b49b9329fe983cb868ef5928e270bff86e47  23-humanfobia_-_decadencia_apocalipsis.mp3
be106ff77ca42ac206a71d8828617959ec01c0c1  va_-_20y20k_(20k373)-2022.zip
</pre>
	</article>
	<br>
	</div>


<h2>Tracklist</h2>
	

<ol class="tracklist" >  

   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video0 desc0"><header><span itemprop="name">Jimmy Slaughter - 20 Years Later Still Number One!!</span><time datetime="PT2M10S" itemprop="duration"> (02:10)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre01-jimmy_slaughter_-_20_years_later_still_number_one.mp3'>
				<div>
				ogg: <a href="pre01-jimmy_slaughter_-_20_years_later_still_number_one.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video1 desc1"><header><span itemprop="name">Denner - Rausch</span><time datetime="PT8M13S" itemprop="duration"> (08:13)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre02-denner_-_rausch.mp3'>
				<div>
				ogg: <a href="pre02-denner_-_rausch.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video2 desc2"><header><span itemprop="name">starpause th3 k3h3h3d - Modern Hook</span><time datetime="PT1M12S" itemprop="duration"> (01:12)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre03-starpause_th3_k3h3h3d_-_modern_hook.mp3'>
				<div>
				ogg: <a href="pre03-starpause_th3_k3h3h3d_-_modern_hook.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video3 desc3"><header><span itemprop="name">The Hardliner - Last Phase Of US Hegemony</span><time datetime="PT7M39S" itemprop="duration"> (07:39)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre04-the_hardliner_-_last_phase_of_u_s_hegemony.ogg'>
				<div>
				ogg: <a href="pre04-the_hardliner_-_last_phase_of_u_s_hegemony.ogg" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video4 desc4"><header><span itemprop="name">overthruster - Rotted Shrine</span><time datetime="PT6M50S" itemprop="duration"> (06:50)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre05-overthruster_-_rotted_shrine.mp3'>
				<div>
				ogg: <a href="pre05-overthruster_-_rotted_shrine.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video5 desc5"><header><span itemprop="name">Atarix - Unfinished Cycles</span><time datetime="PT6M19S" itemprop="duration"> (06:19)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre06-atarix_-_unfinished_cycles.opus'>
				<div>
				ogg: <a href="pre06-atarix_-_unfinished_cycles.opus" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video6 desc6"><header><span itemprop="name">Origami Repetika - A Growing Collection (Aging Like Fine Wine)</span><time datetime="PT4M13S" itemprop="duration"> (04:13)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre07-origami_repetika_-_a_growing_collection_aging_like_fine_wine.ogg'>
				<div>
				ogg: <a href="pre07-origami_repetika_-_a_growing_collection_aging_like_fine_wine.ogg" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video7 desc7"><header><span itemprop="name">Indu Mezu - Unknobbling Mi Tormenta</span><time datetime="PT4M54S" itemprop="duration"> (04:54)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre08-indu_mezu_-_unknobbling_mi_tormenta.mp3'>
				<div>
				ogg: <a href="pre08-indu_mezu_-_unknobbling_mi_tormenta.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video8 desc8"><header><span itemprop="name">Sascha Müller - The Moon</span><time datetime="PT6M48S" itemprop="duration"> (06:48)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre09-sascha_müller_-_the_moon.mp3'>
				<div>
				ogg: <a href="pre09-sascha_müller_-_the_moon.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video9 desc9"><header><span itemprop="name">GOTO80 - Minimuck</span><time datetime="PT3M19S" itemprop="duration"> (03:19)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre10-goto80_-_minimuck.mp3'>
				<div>
				ogg: <a href="pre10-goto80_-_minimuck.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video10 desc10"><header><span itemprop="name">razxca - Recorder 002</span><time datetime="PT14M46S" itemprop="duration"> (14:46)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre11-razxca_-_recorder_002.mp3'>
				<div>
				ogg: <a href="pre11-razxca_-_recorder_002.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video11 desc11"><header><span itemprop="name">microbit project - Tribalirium-4</span><time datetime="PT9M13S" itemprop="duration"> (09:13)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre12-microbit_project_-_tribalirium-4.mp3'>
				<div>
				ogg: <a href="pre12-microbit_project_-_tribalirium-4.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video12 desc12"><header><span itemprop="name">Toxic Chicken - Remember Lobit Smiles</span><time datetime="PT2M6S" itemprop="duration"> (02:06)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre13-toxic_chicken_-_remember_lobit_smiles.mp3'>
				<div>
				ogg: <a href="pre13-toxic_chicken_-_remember_lobit_smiles.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video13 desc13"><header><span itemprop="name">Slow Wave Sleep - Storia Di Una Capinera</span><time datetime="PT4M41S" itemprop="duration"> (04:41)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre14-slow_wave_sleep_-_storia_di_una_capinera.mp3'>
				<div>
				ogg: <a href="pre14-slow_wave_sleep_-_storia_di_una_capinera.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video14 desc14"><header><span itemprop="name">Thrust Pomp - 20 Years Per Second</span><time datetime="PT3M18S" itemprop="duration"> (03:18)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre15-thrust_pomp_-_20_years_per_second.mp3'>
				<div>
				ogg: <a href="pre15-thrust_pomp_-_20_years_per_second.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video15 desc15"><header><span itemprop="name">Mauk Tenieb - Live Mix 47 [Clark Nova 2]</span><time datetime="PT3M48S" itemprop="duration"> (03:48)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre16-mauk_tenieb_-_live_mix_47_clark_nova_2.mp3'>
				<div>
				ogg: <a href="pre16-mauk_tenieb_-_live_mix_47_clark_nova_2.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video16 desc16"><header><span itemprop="name">Noxw - sf2 / nnnnn</span><time datetime="PT7M0S" itemprop="duration"> (07:00)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre17-noxw_-_sf2_-_nnnnn.mp3'>
				<div>
				ogg: <a href="pre17-noxw_-_sf2_-_nnnnn.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video17 desc17"><header><span itemprop="name">Anthony1 - 436 Pieces To Spare</span><time datetime="PT2M29S" itemprop="duration"> (02:29)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre18-anthony1_-_436_pieces_to_spare.mp3'>
				<div>
				ogg: <a href="pre18-anthony1_-_436_pieces_to_spare.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video18 desc18"><header><span itemprop="name">Hectic Head - Lobit Jesus</span><time datetime="PT3M0S" itemprop="duration"> (03:00)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre19-hectic_head_-_lobit_jesus.mp3'>
				<div>
				ogg: <a href="pre19-hectic_head_-_lobit_jesus.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video19 desc19"><header><span itemprop="name">The Bishop - Pieces</span><time datetime="PT2M31S" itemprop="duration"> (02:31)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre20-the_bishop_-_pieces.mp3'>
				<div>
				ogg: <a href="pre20-the_bishop_-_pieces.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video20 desc20"><header><span itemprop="name">larsht_ - Let's Chop The Amen Break Again</span><time datetime="PT1M16S" itemprop="duration"> (01:16)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre21-larsht__-_lets_chop_the_amen_break_again.mp3'>
				<div>
				ogg: <a href="pre21-larsht__-_lets_chop_the_amen_break_again.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video21 desc21"><header><span itemprop="name">stereo realist - get up 2022</span><time datetime="PT6M24S" itemprop="duration"> (06:24)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre22-stereo_realist_-_get_up_2022.mp3'>
				<div>
				ogg: <a href="pre22-stereo_realist_-_get_up_2022.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> 
   <li itemprop="tracks" itemscope itemtype="http://www.schema.org/MusicRecording" itemref="video22 desc22"><header><span itemprop="name">Humanfobia - Decadencia Apocalipsis</span><time datetime="PT3M14S" itemprop="duration"> (03:14)</time></header>
    <audio controls preload >
		<source itemprop=url src=''>
				<source itemprop=url src='pre23-humanfobia_-_decadencia_apocalipsis.mp3'>
				<div>
				ogg: <a href="pre23-humanfobia_-_decadencia_apocalipsis.mp3" title="download this song in ogg format"><img src="../../../ico/download.png" /></a>
				mp3: <a href="" title="download this song in mp3 format"><img src="../../../ico/download.png" /></a>
		</div>
	</audio>

    </li> </ol>
<!-- <h2>Video Clips</h2> -->
<footer role="contentinfo">
<p><small>20k373 | <time datetime="2022-12-27" itemprop="datePublished">2022-12-27</time> | <a href="/index2.htm" title="homepage" itemprop="publisher" itemscope itemtype="http://www.schema.org/Organization"><span itemprop="name">20kbps</span></a></small>
</div>
</footer>
</body>

</html>